# Copy this file to .env.mk and set any variables needed by your environment.
#
# For example, I have libck installed at /usr/local/lib but pkg-config does
# not search there on my system.
export PKG_CONFIG_PATH := /usr/local/lib/pkgconfig:$(PKG_CONFIG_PATH)

# I also prefer clang to gcc so I set that here.
CC = clang
