[submodule "deps/fiber_atomic"]
	path = deps/fiber_atomic
	url = git@github.com:carterww/fiber_atomic.git
[submodule "deps/fiber_lock"]
	path = deps/fiber_lock
	url = git@github.com:carterww/fiber_lock.git
